h1 {
color: blue;
}
h2 {
color: purple;
}
h3 {
color: red;
}
p {
background-color: black;
color: white;}
div:hover {
background-color: #EA7500;}
.line1 {
font-family: "Lucida Console", monospace;
}
.line2 {
font-family: "Copperplate", fantasy;
}